<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Add your head content here -->
    <link rel="stylesheet" href="css/chessBoard.css">
    <script src="js/chessBoard.js"></script>
    <script src="js/Disable&EnableOnclick.js"></script>
</head>
<body>
<div th:inline="javascript">
    <script th:inline="javascript">
        function pawnPromotion(i,j,coin)
        {
            console.log("inside sendToBackend coin = ",coin)
            window.location.href = "/promotingPawn?x=" + i + "&y=" + j +"&coinName=" + coin;
        }
    </script>
</div>

<div class="popup-container" th:utext="${popup}"></div>

<div class="mate-container" th:utext="${matemessage}"></div>

<div class="chessboard" th:utext="${chessboardHtml}"></div>

</body>
</html>
